


<div id="wrapper">
  <div id="container">

    <div id="header">
      <ul>
        <li class="logo"><a href="/">Lockitron</a></li>
          <li class="profile">
            <a href="/account/login" class="logout">Sign in</a>
          </li>
      </ul>
      <div style="clear:both"></div>
    </div>

    <div id="content">

		<!-- yield start -->
<div class="content">

		<div id="account">

			<div id="login">
				
			<div class="header">
			<h3>Account Login</h3>
			</div>
			
				<div class="settingsContent" id="login-form">
				<form accept-charset="UTF-8" action="/account/login" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Blu+CUAeqhzZ+/rC7hbtapIxsqv1q9GOheuRFW05yrw="></div>


					  <div class="clear">
					    <label for="user_email">Email</label>
					    <input id="user_email" name="user[email]" size="30" type="text">
					  </div>

					  <div class="clear">
					    <label for="user_password">Password</label>
					    <input id="user_password" name="user[password]" size="30" type="password" value="">
					  </div>
	

	
					<div id="login-button-container">
						<div id="login-forgot"><a href="/account/forgot">Can't log in?</a></div>
						<div id="login-button"><input name="commit" type="submit" value="Login"></div>
						<div class="clear"></div>
					</div>
</form>				</div>
			</div>

			<div id="about">
				<div class="about-inner">
					<strong>Lockitron</strong> allows you to unlock your door with your phone
					<br><br><strong>Login</strong> here to access account information and remotely manage your device.
						<br><br><a href="/account/register">Need a Lockitron account?</a>
				</div>
			</div>

		</div>

</div>
		<!-- yield end -->

    </div>

  </div>

  <div id="footer">
    <a href="https://lockitron.com/faq">Help &amp; FAQ</a> | <a href="https://lockitron.com/help/media">Press &amp; Media</a> | <a href="http://blog.lockitron.com/">Blog</a> | <a href="https://lockitron.com/privacy">Privacy Policy</a> | <a href="/account/login">Sign In</a>
<br>
<br>
<span id="copyright">© 2009-2012 Apigy Inc. All rights reserved.<span>  </span></span></div>

</div>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17601805-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>






