
<div id="header">
  <div class="wrapper clearfix">
    <center>
    <a href="/">
<%= Settings.product_name %>
</a>
    </center>
  </div>
</div>
<script type="text/javascript">
function checkForm(form) {
  if (form.name.value == "") {
    alert('Please enter your name.');
    return false;
  }
  if (form.email.value == "") {
    alert('Please enter your email address.');
    return false;
  }
  if (form.message.value == "") {
    alert('Please enter your message.');
    return false;
  }
  return true;
}
</script>
<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="sidebar">
      <h5>We're social!</h5>
      <p>Contact us on <a href="http://twitter.com/GRiTworks">Twitter</a>
        or <a href="http://facebook.com/GRiTworks">Facebook</a>.</p>
      <h5>About Us</h5>
      <p>Visit our <a href="http://www.gritworks.com">main page</a>.</p>
    </div>
    <div class="main_content">
      <h3>Feedback</h3>
      <p>
      </p>



<%= form_tag({:controller=> 'products', :action => "send_message"}, :id => "order-form", :class=>"fade", :method=>'post') do %>

      <table border="0" class="desc">
        <tbody><tr><td class="label">Name:</td><td><input type="text" name="name" size="40" placeholder="Name"></td></tr>
        <tr><td class="label">Email:</td><td><input type="text" name="email" size="40" placeholder="Email"></td></tr>
        <tr><td class="label">Message:</td><td><textarea name="message" cols="40" rows="6"></textarea></td></tr>
        <tr><td></td><td style="text-align: left"><input type="submit" name="submit" class="blue_button reserve" value=" Send "></td></tr>
      </tbody></table>

<% end %>
      <p></p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="wrapper clearfix">
    <p> © GRiTworks, Inc. 
<a href="https://www.gritworks.com/">GRiTworks</a>
    </p>
  </div>
</div>




