<div class="big_wrapper">
  <div style="position:relative;" class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        emPOWER your EARS
      </h3>
      <p>

We started GRiTworks for one reason: to make better earphones. Whether you're at the frontier of obscure bands, quietly enjoying "books on tape", or rocking out while traveling the globe, GRiT earphones will make any active lifestyle better.

      <p>
<%= image_tag("landing3.png", :class=>"landing3", :style=>"position: absolute; top: 100px; width: 450px; right: -30px;") %>
    </div>
  </div>


</div>

<div class="big_wrapper">
  <div style="position:relative;" class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How it Works
      </h3>
      <p>

Our proprietary technology is a new concept to most people, so we thought we'd take a little time to explain how it works.  You can watch the following video for a demonstration, and you can keep reading for the details.
      <p>
<%= image_tag("landing4.png", :class=>"landing2", :style=>"position: absolute; top: 100px; width: 450px; left: -30px;") %>
    </div>
  </div>


</div>


<div  class="big_wrapper">

<div style="width: 520px; display: block; margin-left: auto; margin-right: auto;" class="video-container" >
<iframe width='512' height='385' src="<%= video_url %>#t=41s"></iframe>
</div>

</div>

<div class="big_wrapper">
  <div style="position:relative;" class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Who are we
      </h3>
      <p>

We're GRiTworks of course!  But that probably doesn't mean much to you yet.  Suffice it to say, we're experienced at what we do.  We have decades of design and engineering chops, not to mention a few tech, business, and world class manufacturing guys on our side.
      <p>

<%= image_tag("landing1.png", :class=>"landing2", :style=>"position: absolute; top: 100px; width: 450px; right: -30px;") %>
    </div>
  </div>
</div>

<div style="display:none;" class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>


<!--
<div class="video-embed-center">
<iframe width="560" height="315" src="http://www.youtube.com/embed/YYSW0bWPTJ4" frameborder="0" allowfullscreen></iframe>
</div>

-->


