<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2> Shipments start May through July <br /><span style="font-size:25px;"> (depending on model)</span> </h2>
    <a href="/checkout" class="blue_button reserve"><%= Settings.middle_reserve_text %></a>
  </div>
</div>
