<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4> Sound Quality </h4>
      <p>
We were actually a bit surprised how good our earphones sound. Our 2 types of drivers produce incredibly clear, powerful, and balanced sound.  The earbuds also create a near-perfect seal with the ear, meaning there is little to no sound loss or distortion from your environment.  
</p>
    </li>
    <li id="section-2">
      <h4> Secure Earbud Fit</h4>
      <p>
 GRiT earphones were created with an active lifestyle in mind.  On that note, we designed them to be as secure as possible.  They won't move when you move, and they certainly won't accidentally fall out. </p>
    </li>
    <li id="section-3">
      <h4> Comfortable Earbud Fit</h4>
      <p>
 Great earphones aren't any good if you can't wear them, so we made ours comfortable, without asking the eartips to be an anchor for the rest of the earphone.
</p>
    </li>
    <li id="section-4">
      <h4> Ambient Technology</h4>
      <p>

 Earphones have always limited what people could do in the past, but with GRiT we created our ambient technology to break the boundaries of what can be done wearing them.  


</p>
    </li>
  </ul>
</div>
