<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"> <img style="width: 180px; margin-top: -20px;" src="https://s3.amazonaws.com/selfstarter/GRiT-Logo-Shield-onBlack-final.png" /> </a></h1>
  </div>
</div>
