<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>

<%= stylesheet_link_tag "application.css", "checkout.css", "main.css" %>


    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <%= javascript_include_tag "application", "checkout.js" %>

<style>

#login-button .blue_button
{
padding-left:30px;

}
.total {
margin-top: 10px;
width: 300px;
}
.blue_button.reserve{
cursor:pointer;
}


#about .about-inner h5{
font-family: "Helvetica Neue","Helvetica","Arial";
font-size: 20px;
margin-bottom: 10px;
color: #4B4B4B;
}


#login-button:hover {
opacity: 0.8;
cursor:pointer;
}

#account #login #outside-us {
margin-right:20px;
}

.discounts{
font-size: 14px;
}

</style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
